@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 151 100% 47%;
    --primary-foreground: 151 100% 10%;
    --secondary: 284 98% 53%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 284 98% 53%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 151 100% 47%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 4%; /* #0A0A0A */
    --foreground: 0 0% 98%;
    --card: 240 4% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 151 100% 47%; /* #00FF88 */
    --primary-foreground: 151 100% 10%;
    --secondary: 284 98% 53%; /* #BC13FE */
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 284 98% 53%; /* #BC13FE */
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 20%;
    --input: 240 4% 15%;
    --ring: 151 100% 47%;
    --chart-1: 151 100% 47%;
    --chart-2: 284 98% 53%;
    --chart-3: 204 90% 50%;
    --chart-4: 50 100% 50%;
    --chart-5: 300 90% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
